body {
    background-color: whitesmoke;
}

header {
    width: 100%;
    background-color: #ef6c00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    z-index: 4;
}

header > div {
    font-size: 1.5rem;
    min-width: 3rem;
    min-height: 2rem;
    text-align: center;
    height: 3rem;
}

header.app-header {
    position: fixed;
    top: 10px;
    left: 10px;
}
