body {
  background-color: whitesmoke;
}

header {
  width: 100%;
  background-color: #ef6c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  z-index: 4;
}

header > div {
  font-size: 1.5rem;
  min-width: 3rem;
  min-height: 1rem;
  text-align: center;
  height: 3rem;
}

header.app-header {
  position: fixed;
  top: 0;
  left: 0;
}

nav.mat-tab-nav-bar.mat-primary {
  position: fixed;
  top: 3rem;
  left: 0;
  background-color: white;
  transition: all ease-in-out 125ms;
}

nav.mat-tab-nav-bar.mat-primary.scrolled {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14),
  0 3px 4px 0 rgba(0, 0, 0, .12),
  0 1px 8px 0 rgba(0, 0, 0, .20);
}

h1 {
  font-size: 1.75rem;
  color: black;
}

h2 {
  font-size: 1.5rem;
  color: black;
}


a {
  color: #fb8c00;
  opacity: .9;
}

a:hover, a:active {
  opacity: 1;
}

.app-content {
  min-height: 87vh;
  padding-bottom: 4rem;
}

.center {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.emphasis {
  font-weight: bold;
  opacity: 0.84;
  font-size: 1.1em;
}

.app-footer {
  margin-top: -3rem;
  background-color: rgb(29, 29, 29);
  color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

div.mat-tab-links {
}

a.mat-tab-link {
  width: calc(100% / 3);
}

button.mat-icon-button {
  opacity: .74;
}

.footer-menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-item {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.copyright-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
}

.nav-icon, .nav-icon.mat-icon {
  width: 2rem;
  height: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tabs .mat-button-wrapper {
  font-size: 1.15rem;
  font-weight: 400;
}

a.nav-tabs.mat-button {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 29, .1);
}

a.nav-tabs.mat-button.activeTab {
  background-color: #ffffff;
  border: 1px solid #929b9e;
  border-bottom: 0;
}

a.nav-tabs.mat-button.activeTab > span.mat-button-wrapper {
  font-weight: 900;
}

#logo {
  width: 100vw;
  height: 100vw;
  max-height: 600px;
}

.trailOfferDiv {
  width: 80vw;
  max-height: 90px;
  max-width: 400px;
  height: 20vw;
  background: url("../../assets/img/Artboard 1.svg") center;
  background-clip: border-box;
  background-size: cover;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
}

article {
  font-size: 1rem;
  padding: 1rem;
}

article > div {
  padding: 0.5rem 0;
}

article > header, article > footer {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.pikam-main-banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: -3rem;
}

.pikam-main-pitch-div {
  font-size: 1.5rem;
  padding: 0 4rem 2rem;
  line-height: 3rem;
  text-align: left;
}

.perk-header {
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 6rem 2rem;
}

.pikam-sub-pitch-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 80vh;
}

.pikam-sub-pitch-row:nth-child(even) {
  flex-flow: row wrap-reverse;
}

.pikam-sub-pitch-row:nth-child(odd) {
  flex-flow: row-reverse wrap-reverse;
}

.pikam-sub-pitch-row > div {
}

.pikam-sub-pitch-row > div:nth-child(2) {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.pikam-sub-pitch-div {
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: whitesmoke;
  padding: 2rem;
  width: 100%;
  max-width: 850px;
}

.pikam-sub-pitch-div ul {
  list-style: square outside;
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem 2rem;
}

.pikam-sub-pitch-div img {
  width: 200px;
  margin-top: -8rem;
  margin-right: -4rem;
}

#perk1-row .pikam-sub-pitch-div img {
  margin-top: -6rem;
}

#perk2-row .pikam-sub-pitch-div img {
  margin-top: -2rem;
}

#perk1-row {
  background-color: #26a9e0;
}

#perk2-row {
  background-color: #f16722;
}

#perk3-row {
  background-color: #f5c315;
}

#perk4-row {
  background-color: #89c140;
}

.pikam-perk-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.horizontal-scroll-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  background-color: white;
  margin: 0 -1rem;
  min-width: 100vw;
}

.scroll-content {
  margin: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer > button {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  max-width: 450px;
}

.nav-menu-button {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nav-menu-icon {
  line-height: normal;
}

#about_menu {
  line-height: 1;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.upgrade-info-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(138, 193, 65);
  margin: 1rem 0;
}

.upgrade-info-data-column > div:first-child {
  font-weight: 700;
  background-color: rgba(29, 29, 29, 0.4);
}

.upgrade-info-data-column > div:nth-child(2n+2) {
  background-color: rgba(39, 169, 224, 0.2);
}

.upgrade-info-data-column > div {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem 0.5rem;
}

.member-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.member-info-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.member-name-label {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
}

.member-company-labels {
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
}

.member-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-email-form {
  margin: 1rem 0;
}

.member-input-label {
  margin-right: 1rem;
}

.email-options-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.email-options {
  margin-bottom: 1rem;
}

.member-membership-section .member-data-row {
}

.member-membership-section .member-data-row.bottom-border {
  border-bottom: 1px solid rgba(29, 29, 29, .12);
  padding: 1rem;
}

.member-membership-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.membership-label-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.membership-label-div.double-high {
  align-self: flex-start;
}

.membership-actions-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-actions-div.column {
  flex-flow: column nowrap;
}

.membership-actions-div.column > div {
  width: 100%;
  text-align: center;
}

.password-old-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.password-modal-fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 1rem;
}

.password-action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.login-secondary-action {
  font-size: 0.75rem;
  font-style: italic;
  margin: 1rem 0;
  width: 60vw;
  text-align: right;
  padding-right: 1rem;
  max-width: 525px;
}

.error-msg {
  color: #f44336;
  font-size: 0.75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.membership-type-div {
  background-color: rgb(39, 169, 224);
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 1rem;
}

.member-data-row.sub-card-row {
  justify-content: space-evenly;
  flex-flow: row wrap-reverse;
  background-color: #a5d6a7;
  padding: 32px 16px;
  width: calc(100% + 4rem);
  margin: -.5rem -2rem;
}

.membership-sub-pitch-div {
  max-width: 450px;
  width: 40%;
  min-width: 350px;
  margin: 1rem;
}

.price-pitch-left, .price-pitch-right {
  font-size: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
}

mat-card.sub-card {
  position: relative;
  height: 212px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 8px;
  background-color: whitesmoke;
}

mat-card.sub-card::after {
  content: "\2714";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #a1cd66;
  font-weight: bold;
  top: 8px;
  left: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  opacity: .0;
  transform: scale(.5);
  transition: all ease-in-out 75ms;
}

mat-card.sub-card.selected {
  background-color: white;
}

mat-card.sub-card.selected::after {
  transform: scale(1);
  opacity: .9;
}

mat-card-title.sub-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

mat-card-subtitle.sub-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

mat-card-content.sub-content {
  text-align: center;
}

button.upgrade-btn {
  background-color: #43a047;
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  width: 200px;
}

button.upgrade-btn.selected::after {

}

button.mat-raised-button.mat-accent {
  color: rgb(29, 29, 29);
}

p {
  margin: 1rem 0;
}

.email-div {
  margin: 0 .5rem;
}

.email-link {
  color: #ef6c00;
}

.type-label {
  padding: 0 1rem;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-section {
  width: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  padding-top: 1rem;
}

.note-row {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.note-div {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  resize: none;
  min-height: 2rem;
  overflow-wrap: break-word;
  background-color: white;
}

.note-div:focus {
  box-shadow: 0 2px 5px lightblue;
}

.note-remove-icon {
}

.relationship-person-div {
  background-color: #43a047;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 24px 16px;
  border-radius: 4px;
  height: 82px;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.name-div:first-letter {
  text-transform: capitalize;
}

.tag {
  margin: 0 0 1rem 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #4caf50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.phone-div {
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-link {
  color: #ef6c00;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationship-builder-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.relationship-builder {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.relationship-builder-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.relationship-builder-left-arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relationship-builder-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.relationship-builder-input-div {
  margin: 0.5rem 0.25rem;
}

.relationship-builder-input-label-div {
  color: #4caf50;
  font-size: 2rem;
  margin: 0.5rem 0.25rem;
  text-align: center;
  font-weight: 700;
}

.relationship-builder-right-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.validation-message {
  color: #d50000;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
  line-height: 0.75rem;
}

.add-fab {
  justify-self: flex-end;
}

#left_arrow, #right_arrow {
  height: 6rem;
}

.accent-bar {
  position: absolute;
  height: 2rem;
  width: 100%;
  background-color: #0079ae;
}

.person-data-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-data-div {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.person-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.ghost-icon-btn-div {
  width: 40px;
  height: 40px;
}

.person-name-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.person-name-label {
  font-size: 1.5rem;
  padding: 0 .5rem;
}

.person-name-label svg {
  fill-opacity: 0.8;
}

.contact-action-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.contact-action-div {
  padding: 0 0.75rem 0 0.75rem;
}

.contact-action-div > .mat-fab {
  background-color: #43a047;
}

.person-company-label {
  font-size: 1rem;
  padding: 0 1rem;
  text-align: center;
}

.person-box-container {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 165px;
  overflow: hidden;
}

.scroll-controls-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 20;
  background: transparent;
  pointer-events: none;
  visibility: hidden;
  z-index: 3;
}

.person-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  min-height: 6rem;
  position: relative;
  width: 100%;
}

.person-arrow-box {
  height: 8rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.70);
  cursor: pointer;
  border-radius: 2px;
  pointer-events: all;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.person-arrow-box:hover {
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.person-arrow-box > .mat-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1), height 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.person-arrow-box > .mat-icon:hover {
  width: 3rem;
  height: 3rem;
}

.paginate-shim {
  height: 44px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  line-height: 1rem;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

.paginate-container.active {
  opacity: 1;
}

.paginate-container span {
  font-size: 3rem;
  opacity: 0.44;
  transition: opacity ease-in-out 100ms;
  margin: 0 4px;
}

.paginate-container span.selected {
  opacity: 1;
}

.paginate-count {
  font-size: 1.25rem;
  font-weight: bold;
  opacity: .8;
  font-style: italic;
  margin-right: 2rem;
}

.empty-message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(29, 29, 29, 0.7);
  width: 100%;
}

.tag-area, .notes-area {
  min-height: 4rem;
}

.register-form-input-container {
  width: 100%;
  margin-bottom: 1rem;
}

.register-form-input-container-last {
  width: 100%;
  margin-bottom: 0;
}

.register-form-password-match-message {
  color: #d50000;
  font-size: 0.9rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.register-accept-container {
  background-color: rgba(29, 29, 29, .05);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.register-accept-input-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.register-form-accept {
  margin: 0.5rem 1rem;
}

.accept-message {
  margin-bottom: 1rem;
}

.register-btn {
  height: 2.5rem;
  font-size: 1rem;
  width: 60vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 525px;
}

.page-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #4caf50;
  padding: 1rem;
  width: calc(100% + 6rem);
  margin-left: -3rem;
  opacity: 1;
  transition: all 150ms ease-out;
}

.page-banner > .emphasis {
  display: inline-block;
}

.page-banner > .emphasis::first-letter {
  text-transform: capitalize;
}

.page-banner.hide {
  padding: 0;
  opacity: 0;
}

.search-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  padding: 0 1rem;
  line-height: 1.5rem;
}

.search-input {
  width: 100% !important;
  max-width: 48rem;
  font-size: 1.65rem;
}

mat-card-title.person-card-title.mat-card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

mat-card.person-card.mat-card {
  border-radius: 0;
}

.email-selected-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-style: italic;
  opacity: 1;
  transition: all ease-in-out 100ms;
  height: 40px;
}

.email-selected-div > span {
  margin: 0 24px;
}

.card-loader {
  position: absolute;
  z-index: 3;
  left: 1rem;
  top: .5rem;
}

.person-card-section {
  position: relative;
}

.person-card-section .person-card {
  width: 150px;
  height: 100px;
  margin: 8px 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 2;
}

.person-card-section .person-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.person-card-section .person-card:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

mat-card.person-card.mat-card.person-card-selected {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

mat-card-footer.person-card-actions {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  background-color: #0079ae;
  color: rgba(255, 255, 255, .95);
}

.person-detail-container {
}

.person-detail-name-container {
}

.person-detail-info-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.name-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 .5rem;
}

.person-detail-email-section {
}

.person-detail-email-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.person-detail-email-input-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
}

.right-action-div {
}

.tag-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
}

mat-chip.tag-pills {
  margin: 8px 0 3px 8px !important;
}

.action-feedback-container {
  width: 60vw;
}

.login-container {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  margin: 4rem 0 2rem;
}

.login-logo-div {
  margin: 1rem;
  text-align: center;
  max-width: 450px;
  max-height: 450px;
  width: 80vw;
}

.login-logo-div > svg {
  width: 80vw;
  max-width: 450px;
  max-height: 450px;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}

.login-form-input-container {
  width: 100%;
  margin-bottom: 1rem;
}

button.login-btn {
  height: 2.5rem;
  font-size: 1rem;
  width: 60vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 525px;
}

button.login-signIn-btn {
}

button.login-signUp-btn {
  background-color: rgba(38, 169, 224, 0.8);
}

.person-section {
  min-height: 6rem;
}

.message_div {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.message_div > div {
  padding: 0.5rem 2rem;
}

.app-header > div {
  font-weight: 400;
  font-size: 1.5rem;
  min-width: 3rem;
  min-height: 1rem;
  text-align: center;
  flex-basis: 100px;
  flex-grow: 1;
  opacity: .8;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-action {
}

.main-action > button {
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 0;
  transform: rotate(180deg);
  transition: all ease-in-out 200ms;
}

.main-action.active > button {
  transform: rotate(0deg);
  opacity: .8;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  line-height: 4rem;
  margin-top: 24px;
  z-index: 1;
}

.section-header.sub-header {
  margin-top: 32px;
  color: rgba(0, 0, 0, .87);
}

.section-header > div::first-letter {
  text-transform: capitalize;
}

.shadow-3dp {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
  0 3px 4px 0 rgba(0, 0, 0, 0.12),
  0 1px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.shadow-1dp {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
  0 1px 1px 0 rgba(0, 0, 0, .2),
  0 1px 3px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.feedback-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.div-marker {
  flex-basis: 60px;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.danger-feedback-marker {
  background-color: #d50000;
  height: 0.5rem;
}

.danger {
  color: #d50000;
}

.modal-actions-div {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
}

.colleague-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.input-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 1rem;
}

label.mat-radio-label {
  white-space: inherit;
}

.colleague-actions-div {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

.person-display-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-display-actions-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-display-actions-label {
  margin: 0 1rem;
}

.top-margin-sm {
  margin-top: 8px;
}

.top-margin-md {
  margin-top: 16px;
}

button.password-btn.hidden {
  width: 0;
  opacity: 0;
  transition: all ease-in-out 250ms;
}

button.password-btn.hidden.savable {
  width: auto;
  opacity: 1;
}

.agreement-header {
}

.agreement {
  background-color: whitesmoke;
}

.agreement .app-footer {
  padding: 1rem 0;
}

.agreement-content {
  padding: 0 2rem;
  line-height: 1.75rem;
  color: rgb(51, 51, 51);
}

.agreement-content ul {
  list-style: square inside;
}

.agreement-content h1 {
  margin-top: 2rem;
  font-weight: bold;
}

.agreement-content h2 {
  margin-top: 2rem;
  font-weight: bold;
}

.agreement-content h3 {
  margin-top: 1rem;
  font-weight: bold;
}

.agreement-content a {
  font-weight: bold;
  opacity: .8;
}

.ease_medium {
  transition-property: width, opacity;
  transition-timing-function: ease;
  transition-duration: 350ms;
}

#search_checkBox {
  display: none;
}

#search_bar_idle {
  width: 0;
  opacity: 0;
  font-size: 1rem;
  font-weight: normal;
}

#search_bar_idle.search_bar_active {
  width: 40vw;
  opacity: 1;
}

#search_checkBox:checked ~ #search_bar {
  width: 40vw;
  opacity: 1;
}

#close_button {
  cursor: pointer;
}

.feedback-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 6rem calc((100% - 1220px) / 2) 0;
  max-width: 1220px;
}

.feedback-instructions-div {
  width: 100%;
}

.feedback-container form {
  padding: 3rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: calc(100% + 4rem);

}

.feedback-container form mat-form-field, .feedback-actions-div {
  margin: 1rem;
  width: 100%;
}

.feedback-actions-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
}

.banner-column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.affiliate-main-heading {
  text-align: center;
  width: 100%;
  font-size: 5rem;
  color: rgba(29, 29, 29, .94);
  line-height: 6rem;
  padding: 6rem 0;
  margin-top: 3rem;
}

.affiliate-pitch-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.affiliate-pitch-div {
  display: flex;
  flex-flow: column nowrap;
  padding: 4rem 6rem;
  background-color: white;
  flex-basis: 380px;
  flex-grow: 1;
  flex-shrink: 1;
}

.affiliate-pitch-div.account, .person-card-display {
  background-color: white;
}

.affiliate-pitch-div.left {
  border-right: 1px solid lightgray;
}

.affiliate-pitch-div.right {
  border-left: 1px solid white;
}

.affiliate-pitch-div-title {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 2rem;
  min-height: 6rem;
  color: #000000;
  text-align: center;
}

.affiliate-pitch-div-content {
  font-size: 1rem;
  line-height: 2rem;
  color: #525252;
}

.affiliate-pitch-actions-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

.affiliate-info-section {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.affiliate-info-header {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgb(39, 169, 224);
  padding: 9rem 0;
}

.affiliate-info-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 4rem 6rem;
}

.affiliate-info {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  min-width: 380px;
  flex-basis: 380px;
  flex-grow: 1;
  flex-shrink: 1;
}

.affiliate-info-title {
  text-align: center;
  min-height: 6rem;
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 2rem;
  color: #000000;
}

.affiliate-info-content {
  font-size: 1rem;
  line-height: 2rem;
  color: #525252;
}

.affiliate-info-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-section {
  width: 100%;
  padding: 0 4rem;
}

.faq-section-heading {
  font-size: 3rem;
  color: #000000;
  text-align: center;
  line-height: 6rem;
  padding: 9rem 0;
}

.faq-section-frame {
  width: 100%;
}

.faq-section-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.faq-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  min-width: 380px;
  flex-basis: 380px;
  flex-grow: 1;
  flex-shrink: 1;
}

.faq-title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.faq-content {
  font-size: 1rem;
  line-height: 2rem;
}

.affiliate-page {
  width: 100%;
  padding: 0 2rem;
}

.affiliate-page-banner {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.affiliate-page-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 4rem);
  background-color: whitesmoke;
}

.affiliate-page-name-label {
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
}

.affiliate-page-card-row {
  width: calc(100% + 4rem);
  padding: 0 2rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 -2rem 24px -2rem;
}

.affiliate-page-card {
  margin: 1rem;
  width: 12rem;
  height: 14rem;
}

mat-card.affiliate-page-card.mat-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.affiliate-page-card mat-card-title.mat-card-title {
  font-size: 3rem;
}

.affiliate-page-card mat-card-subtitle.mat-card-subtitle {
  font-size: 1.5rem;
}

img.affiliate-page-card-money-img {
  width: 6rem;
  margin: 3px !important;
  position: relative;
  top: -16px;
}

.affiliate-page-link-area {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.affiliate-page-link-area-label {
  font-size: 1.25rem;
}

.affiliate-page-text-div {
  color: #525252;
  line-height: 1.5rem;
}

.affiliate-page-link-area-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.affiliate-page-art-area {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
}

.affiliate-page-art-area-label {
  font-size: 1.25rem;
  position: relative;
  top: 2rem;
}

.affiliate-page-art {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(25, 25, 25, .1);
  padding: 1rem;
  background-color: whitesmoke;
}

.affiliate-page-link-action {
  margin: 0 16px;
  padding-bottom: 20px;
}

.member-data-row.affiliate-page.mat-input-container.mat-form-field {
  width: 20rem;
}

.affiliate-page-art-slate {
  width: calc(100% + 4rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 2rem;
  margin: 0 -2rem;
}

.affiliate-signup-content {
  padding: 0 24px;
  transition: all 250ms ease-in;
  height: 0;
  opacity: 0;
}

.affiliate-signup-content.show {
  height: auto;
  opacity: 1;
}

.affiliate-signup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.affiliate-signup-content h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.affiliate-signup-form {
  background-color: white;
  padding: 1rem 3rem;
  margin: 0 -24px 24px -24px;
}

.text-container {
  margin-top: 24px;
  color: #525252;
  line-height: 1.5rem;
}

.person-detail-email-container {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 48px;
}

.person-detail-phone-container {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 48px;
}

mat-form-field.member-email-input.mat-input-container.mat-form-field {
  min-width: 200px;
  max-width: 500px;
  width: 70%;
}

.content-container {
  margin: 6rem calc((100vw - 1220px) / 2);
  max-width: 1220px;
  padding-top: 3rem;
}

.full-container {
  width: 100vw;
  margin: 0 calc((100vw - 1220px) / 2 * -1);
}

.section-header div:last-child.relationship-add {
  position: relative;
  top: 30px;
}

.section-header .flex-center div:last-child.relationship-add {
  position: relative;
  top: 36px;
}
